include _layout
  fantasy-terminal
  article.page
    include:markdown-it ../README.md
    p: a(href="//github.com/FantasyInternet/"+pkg.name) Source on Github
  script(type="text/javascript", src="script/main.js")
